html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./Background/bg.jfif);
}

#App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.LoginComponent,
.DashboardComponent {
	background-color: whitesmoke;
	border-style: solid;
	border-color: #FD4114;
	border-radius: 7px;
}

.btn-primary {
	width: 100%;
}

.GraphView {
	height: 300px;
}

.bg-card-1 {
	background-color: #ffc1074d;
}

.bg-card-2 {
	background-color: #dc35455c;
}

.bg-card-3 {
	background-color: #28a74559;
}

.center {
	text-align: center;
}

.center-span {
	display: table;
	margin: 0 auto;
}